/* Navbar.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: #ffffff;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 150px; /* Reduced gap to attach logo to heading */
}

.logo {
  width: 40px; 
  height: 40px; 
}

.header h1 {
  font-size: 24px;
  margin: 0;
  color: #333333;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 10px; /* Reduced gap to bring elements closer */
  margin-left: auto; /* Push the navbar-right to the left towards the center */
  margin-right: 160px; /* Add some margin to the right */
}

.navbar-search {
  display: flex;
  align-items: center;
  width: 384px;
  height: 25px;
  border: 1px solid#CDCDCD;
  border-radius: 5px;
  padding: 5px;
  background-color: transparent;
  margin-right: 50px;
}

.navbar-search input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  flex: 1;
  color: #000;
}

.search-icon {
  color: #D100F3;
  margin-left: 5px;
}

.signup-button,
.login-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #000;
  margin-left: 20px;
}